<section class="cta" id="donate">
  <div class="container cta__grid">
    <article class="cta-card">
      <div class="cta-card__head">
        <img class="cta-card__icon" src="/img/cta-card-1.png" alt="" width="68" height="67" />
        <div class="cta-card__title">Для кого ця Церква?</div>
      </div>
      <span class="cta-card__lead">Для кожного</span>
      <p>Для сімей, молоді, дітей, людей старшого віку, тих, хто давно у вірі або тільки шукає Бога. Тут є місце для тебе.</p>
    </article>
    <article class="cta-card">
      <div class="cta-card__head">
        <img class="cta-card__icon" src="/img/cta-card-2.png" alt="" width="71" height="63" />
        <div class="cta-card__title">Приєднуйся</div>
      </div>
      <span class="cta-card__lead">Ми будемо раді знайомству</span>
      <p>Приходь на богослужіння, домашні групи або зустрічі - і стань частиною дружньої християнської спільноти.</p>
    </article>
    <article class="cta-card">
      <div class="cta-card__head">
        <img class="cta-card__icon" src="/img/cta-card-3.png" alt="" width="60" height="66" />
        <div class="cta-card__title">Підтримай служіння</div>
      </div>
      <p>Твоя підтримка допомагає нам служити людям і поширювати Євангеліє.</p>
      <a class="btn btn_primary cta-card__btn" href="#donate">Пожертвувати</a>
    </article>
  </div>
</section>