<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__logo" href="/" aria-label="Перша баптистська церква">
      <img class="site-header__logo-icon" src="/img/logo.png" alt="" width="67" height="75" />
      <span class="site-header__logo-text">Перша<br />баптистська<br />церква</span>
    </a>

    <nav class="site-header__nav" id="site-nav" aria-label="Основна навігація">
      <a href="#news">Новини</a>
      <a href="#about">Про церкву</a>
      <a href="#ministries">Служіння</a>
      <a href="#schedule">Розклад богослужінь</a>
      <a href="#broadcast">Трансляції</a>
      <a class="site-header__btn" href="#">Пожертви</a>
    </nav>

    <button class="menu-toggle--burger" type="button" aria-label="Відкрити меню" aria-controls="site-nav" aria-expanded="false">
      <span class="hamburger" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <span class="cross" aria-hidden="true">
        <span></span>
        <span></span>
      </span>
    </button>
  </div>
</header>