<section class="hero" aria-label="Головні події церкви">
  <div class="hero__slider swiper">
    <div class="swiper-wrapper">
      <div class="hero__slide swiper-slide">
        <img src="img/YOUTUBE.png" alt="" width="1983" height="793">
      </div>
      <div class="hero__slide swiper-slide">
        <video class="hero__video" data-hero-video data-src="img/video-slider.mp4" src="img/video-slider.mp4" poster="img/slide.png" width="1200" height="698" muted loop playsinline webkit-playsinline preload="metadata" aria-label="Відео церкви"></video>
      </div>
      <div class="hero__slide swiper-slide">
        <img src="img/slide.png" alt="" width="1200" height="698">
      </div>
      <div class="hero__slide swiper-slide">
        <img src="img/slide.png" alt="" width="1200" height="698">
      </div>
      <div class="hero__slide swiper-slide">
        <img src="img/slide.png" alt="" width="1200" height="698">
      </div>
    </div>

    <button class="hero__arrow hero__arrow_prev" type="button" aria-label="Попередній слайд">
      <img src="/img/arrow-left.png" alt="" width="25" height="45" />
    </button>
    <button class="hero__arrow hero__arrow_next" type="button" aria-label="Наступний слайд">
      <img src="/img/arrow-right.png" alt="" width="25" height="45" />
    </button>
    <div class="hero__pagination"></div>
  </div>
</section>


<script>
  import { initHeroSlider } from '../utils/initHeroSlider.mjs';
  import { initMobileContentSliders } from '../utils/initMobileContentSliders.mjs';
 
  initHeroSlider();
  initMobileContentSliders();
</script>
