<section class="news" id="news">
  <div class="container news__panel">
    <div class="section-head">
      <div class="section-head__title">Новини</div>
      <a class="section-head__link" href="#news">Усі новини <img src="/img/arrow-read.png" alt="" width="22" height="18" /></a>
    </div>

    <div class="news__slider swiper">
      <div class="news__grid swiper-wrapper">
        <a class="news-card swiper-slide" href="#">
          <div class="news-card__image" style="background-image: url('/img/img1.png');" aria-hidden="true"></div>
          <time datetime="2026-05-19">19 травня 2026</time>
          <div class="news-card__title">День народження нашої Церкви</div>
          <p>Цієї неділі ми разом святкували День народження нашої Церкви. Дякуємо Богу за Його вірність!</p>
          <span class="news-card__link">Читати далі <img src="/img/arrow-read.png" alt="" width="22" height="18" /></span>
        </a>
        <a class="news-card swiper-slide" href="#">
          <div class="news-card__image" style="background-image: url('/img/img2.png');" aria-hidden="true"></div>
          <time datetime="2026-05-19">19 травня 2026</time>
          <div class="news-card__title">День народження нашої Церкви</div>
          <p>Цієї неділі ми разом святкували День народження нашої Церкви. Дякуємо Богу за Його вірність!</p>
          <span class="news-card__link">Читати далі <img src="/img/arrow-read.png" alt="" width="22" height="18" /></span>
        </a>
        <a class="news-card swiper-slide" href="#">
          <div class="news-card__image" style="background-image: url('/img/img3.png');" aria-hidden="true"></div>
          <time datetime="2026-05-19">19 травня 2026</time>
          <div class="news-card__title">День народження нашої Церкви</div>
          <p>Цієї неділі ми разом святкували День народження нашої Церкви. Дякуємо Богу за Його вірність!</p>
          <span class="news-card__link">Читати далі <img src="/img/arrow-read.png" alt="" width="22" height="18" /></span>
        </a>
      </div>
      <button class="mobile-slider-arrow mobile-slider-arrow_prev news__arrow_prev" type="button" aria-label="Попередня новина"><img src="/img/arrow-left.png" alt="" width="25" height="45" /></button>
      <button class="mobile-slider-arrow mobile-slider-arrow_next news__arrow_next" type="button" aria-label="Наступна новина"><img src="/img/arrow-right.png" alt="" width="25" height="45" /></button>
    </div>
  </div>
</section>