---
import News from "../components/News.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Donate from "../components/Donate.astro";
import About from "../components/About.astro";
import Ministries from "../components/Ministries.astro";
---

<Layout
  title="Перша баптистська церква"
  description="Перша баптистська церква: новини, служіння, розклад богослужінь, трансляції та пожертви."
>
  <h1 class="visually-hidden">Перша баптистська церква</h1>
  <Hero />
  <About />
  <Ministries />
  <News />
  <Donate />
</Layout>
